<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add-task">Add Task</a></li>
            <li><a href="/all-tasks/">All Tasks</a></li>
        </ul>
    </nav>
    <h1>Add Task</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <label >Task</label>
            <input type="text" name="task">
            <input type="submit" value="Add Task">
        </div>
    </form>
</body>
</html>