<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add_task">Add Task</a></li>
            <li><a href="/all_tasks/">All Tasks</a></li>
        </ul>
    </nav>
    <h1>All Tasks</h1>
    <ul>
        {% for t in data %}
        <li>{{t.task}}</li>
        {% endfor %}
    </ul>
</body>
</html>