<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add_details">Add Details</a></li>
            <li><a href="/details">Details</a></li>
        </ul>
    </nav>
    <h1>Contact Us</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <label >Name</label>
            <input type="text" name="name">
            <input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>