{% extends 'base.html' %}

{% block title %}Add Category | MovieHub{% endblock %}

{% block content %}
    <!-- Form -->
    <div class="container py-5">

        <div class="row justify-content-center">

            <div class="col-md-6 col-lg-5">

                <h1 class="text-warning fw-bold text-center mb-4">
                    ➕ Add Category
                </h1>

                <hr class="border-warning mb-4">

                <form method="post">
                    {% csrf_token %}

                    <div class="mb-4">
                        <label class="form-label fs-5">
                            Category Name
                        </label>

                        <input
                            type="text"
                            name="category"
                            class="form-control form-control-lg"
                            placeholder="Enter category name">
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-warning btn-lg">
                            Add Category
                        </button>
                    </div>

                </form>

            </div>

        </div>

    </div>
    {% endblock %}