<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/movies/">Movies List</a></li>
            <li><a href="/add_movie">Add Movies</a></li>
        </ul>
    </nav>
    <form method="post">
        {% csrf_token %}
        <div>
        <label >Enter category name</label>
        <input type="text" name="category">
        <input type="submit" value="Add category">
        </div>
    </form>

</body>
</html>