{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | MovieFlix</title>

    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
</head>
<body>

<div class="auth-container">

    <a href="{% url 'home' %}" class="home-link">🏠 Home</a>

    <div class="auth-card">

        <h1>Login</h1>

        <form method="POST">
            {% csrf_token %}

            <div class="input-group">
                <label>Username</label>
                <input type="text" name="username" placeholder="Enter username" required>
            </div>

            <div class="input-group">
                <label>Password</label>
                <input type="password" name="password" placeholder="Enter password" required>
            </div>

            <button type="submit">Login</button>

        </form>

        <p>
            Don't have an account?
            <a href="{% url 'register' %}">Register</a>
        </p>

    </div>

</div>

</body>
</html>