{% extends 'base.html' %}

{% block title %}All Movies | MovieHub{% endblock %}

{% block content %}

<div class="movies-page">

    <div class="movies-container">

        {% for cat in category %}

        <!-- Category -->
        <div class="movie-category-section">

            <div class="category-heading">
                <h2>{{ cat.category }}</h2>
                <div class="category-line"></div>
            </div>


            <!-- Movies -->
            <div class="movies-grid">

                {% for m in cat.movies.all %}

                <div class="movie-card">

                    <!-- Poster -->
                    <div class="movie-poster-wrapper">

                        <img src="{{ m.poster.url }}" alt="{{ m.movie }}">

                        <div class="movie-overlay movie-actions">

                            <div>
                                <a href="{% url 'movie_details' m.id %}" class="movie-details-btn">
                                    Details
                                </a>
                            </div>
                            <div>

                                <a href="{% url 'delete_movie' m.id %}" class="movie-delete-btn"
                                    onclick="return confirmDelete()">
                                    Delete
                                </a>
                            </div>

                        </div>

                    </div>


                    <!-- Movie Info -->
                    <div class="movie-card-body">

                        <h5>
                            {{ m.movie }}
                        </h5>

                    </div>

                </div>

                {% empty %}

                <div class="no-movies">
                    <p>No movies in this category.</p>
                </div>

                {% endfor %}
                <!-- View All Card -->
                {% if cat.movies.all %}
                <div class="movie-card view-all-card">

                    <a href="" class="view-all-link">

                        <div class="view-all-content">

                            <div class="view-all-icon">
                                →
                            </div>

                            <h5>
                                View All
                            </h5>

                            <span>
                                {{ cat.category }} Movies
                            </span>

                        </div>

                    </a>

                </div>
                {% endif %}

            </div>

        </div>

        {% endfor %}

    </div>

</div>


<script>

    function confirmDelete() {
        return confirm("Are you sure you want to delete this movie?");
    }

</script>

{% endblock %}