* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #121212;
    color: white;
    min-height: 100vh;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    background: #000;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}

.logo {
    text-decoration: none;
    color: #ffc107;

    font-size: 28px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ffc107;
}

.hero {
    text-align: center;
    padding: 100px 20px 70px;
}

.hero h1 {
    font-size: 48px;
    color: #ffc107;
    margin-bottom: 20px;
}

.hero p {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    color: #ccc;
    line-height: 1.6;
}

.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 30px;
    background: #ffc107;
    color: #000;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: white;
}

.features {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px 70px;
    flex-wrap: wrap;
}

.card {
    background: #1e1e1e;
    width: 300px;
    padding: 35px 25px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.icon {
    font-size: 45px;
    margin-bottom: 15px;
}

.card h3 {
    color: #ffc107;
    margin-bottom: 15px;
}

.card p {
    color: #bbb;
    line-height: 1.5;
    margin-bottom: 25px;
}

.btn-small {
    text-decoration: none;
    color: black;
    background: #ffc107;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}

.btn-small:hover {
    background: white;
}

footer {
    margin-top: 60px;
    background: #000;
    padding: 20px;
    text-align: center;
    color: #aaa;
}

@media(max-width:768px){
    .navbar {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .nav-links {
        flex-direction: column;
        text-align: center;
    }

    .hero h1 {
        font-size: 35px;
    }
}